.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #fff;
}

#skills {
  background-color: #e2edff;
}

#galeri {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
}
.home__blob-img {
  width: 170px;
}

.item {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.item:hover {
  filter: brightness(70%);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

#galeri-modal .modal-img {
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #0099ff;
  color: #fff;
  padding: 1rem;
  border-radius: 1.5rem;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: #fff;
  color: #fff;
}
.about__buttons {
  display: flex;
  justify-content: center;
}

#contact {
  background-color: #fff;
}

.skills__container {
  row-gap: 0;
  padding-left: 4rem;
  padding-right: 4rem;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: #0099ff;
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__title {
  font-size: 12px;
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: #fff;
}

.skills__percentage {
  display: block;
  transition: 0.9s;
  background-color: #0099ff;
}

.skills__html {
  width: 80%;
}
.skills__css {
  width: 75%;
}
.skills__js {
  width: 70%;
}
.skills__php {
  width: 80%;
}
.skills__java {
  width: 70%;
}
.skills__figma {
  width: 80%;
}
.skills__photoshop {
  width: 70%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

.skills__content {
  position: relative;
  padding: 1.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.skills__content:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
  color: #e2edff;
}

.footer__social:hover {
  color: #04eeff;
}
.footer__container {
  row-gap: 3.5rem;
}

.footer__icon {
  font-size: 2rem;
}

/* HERO */

#hero {
  width: 100%;
  height: 100vh;
  background: url('/img/aliffia.jpg') top right;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: '';
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: 'Satisfy', serif;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 10s ease-in-out infinite alternate-reverse both;
}
#hero .btn-scroll i {
  font-size: 48px;
}
#hero .btn-scroll:hover {
  color: #0099ff;
}
